@use "functions" as *;

// Main Colors
$color-primary-dark: #130f0e;
$color-primary-light: #e7cf8a;

// Secondary Colors
$color-secondary-black: #000;
$color-secondary-red: #f00;
$color-secondary-green: #0f0;
$color-secondary-blue: #00f;

// Gradients
$color-primary-light-gradient: linear-gradient(
  rgb(150 150 150) 30%,
  rgb(40 40 40) 60%,
  rgb(77 77 77) 90%
);

// Box Shadows
$default-box-shadow: 0 0 to-rem(20) to-rem(8) $color-primary-dark inset;

// Z Indexes
$z-index-1: 1;

// Border Radiuses
$default-border-radius: to-rem(5);

// Transitions
$default-transition: 0.2s ease-in-out;
