@use "@/styles/abstracts" as *;

*,
*::before,
*::after {
  outline: none;

  margin: 0;

  padding: 0;

  border: 0;

  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-accent, $color-accent);
  color: var(--color-primary, $color-primary);
}

html {
  background-color: var(--color-primary, $color-primary);
}

body {
  overscroll-behavior: none;
  min-inline-size: to-rem(320);
  overflow: hidden;
  font-size: to-rem(16);
}

img {
  border-radius: inherit;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

img,
svg {
  user-select: none;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  display: block;

  &:disabled,
  [aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}
