@use "@styles/abstracts" as *;

*,
*::before,
*::after {
  outline: none;

  margin: 0;

  border: 0;

  box-sizing: border-box;

  padding: 0;
}

*::selection {
  color: var(--color-primary, $color-primary);
  background-color: var(--color-accent, $color-accent);
}

html {
  background-color: var(--color-primary, $color-primary);
}

body {
  min-inline-size: to-rem(320);
  overflow: hidden;
  overscroll-behavior: none;
  font-size: to-rem(16);
}

img {
  border-radius: inherit;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

img,
svg {
  user-select: none;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  display: block;

  &:disabled,
  [aria-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
