@use "@styles/abstracts" as *;

:root {
  // Main Colors
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-light: #{$color-primary-light};

  // Secondary Colors
  --color-secondary-black: #{$color-secondary-black};

  // Gradients
  --color-primary-light-gradient: #{$color-primary-light-gradient};

  // Box Shadows
  --default-box-shadow: #{$default-box-shadow};

  // Z Indexes
  --z-index-1: #{$z-index-1};

  // Border Radiuses
  --default-border-radius: #{$default-border-radius};

  // Transitions
  --default-transition: #{$default-transition};
}
