@use "@/styles/abstracts" as *;

:root {
  // Main Colors
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-inverse: #{$color-inverse};
  --color-highlight: #{$color-highlight};

  // Transitions
  --default-transition: #{$default-transition};

  font-family: "Lucida Sans", sans-serif;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  line-height: 1;

  -webkit-font-smoothing: antialiased;
}
